@model IEnumerable<OuyouKadai.Models.TaskItem>

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
}

<h1>タスク一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Status_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority.Priority_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.Priority_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編集画面</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除画面</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*ページング処理*@
@Html.PagedListPager(
    (IPagedList)Model,
    page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
        {
            PageClasses = new string[] { "page-link" },
            UlElementClasses = new string[] { "pagination" },
            LiElementClasses = new string[] { "page-item" },
        })
