@model OuyouKadai.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>会員削除</h1>

<div>
    <hr />
    <dl class="row">
        <dt><span class="text-danger">@ViewBag.notDeleteMessage</span></dt>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            ****
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Auth.Auth_name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-action="Index">会員一覧</a>
    </form>
</div>
