@model IEnumerable<OuyouKadai.Models.User>

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
}

<h1>会員一覧</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auth.Auth_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編集画面</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除画面</a>
            </td>
        </tr>
}
    </tbody>
</table>

@* 前ページや次ページへに移動するためのリンクを出力 *@
@Html.PagedListPager(
    (IPagedList)Model,
    page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
        {
            PageClasses = new string[] { "page-link" },
            UlElementClasses = new string[] { "pagination" },
            LiElementClasses = new string[] { "page-item" },
        })
